
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h1>This is Home Controller</h1>
        <h1>This is AboutUs Method</h1>
    </div>
</body>
</html>
